.Weather {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #dadde1;
  color: rgb(135, 135, 135);
  padding: 15px;
  margin-top: 30px;
  border-radius: 4px;
}

.Weather form {
  margin-bottom: 15px;
}

.Weather canvas {
  position: relative;
  top: 13px;
  max-width: 35px;
  max-height: 35px;
  padding: 0;
  margin: 0 5px;
}

.Weather .weather-row {
  margin-left: 0;
  margin-right: 0;
}
.Weather .temperature {
  max-width: 115px;
  padding: 0;
  height: 60px;
}

.Weather .temperature p {
  line-height: 64px;
}

.Weather .temperature .number {
  font-size: 48px;
  color: #202124;
}

.Weather .temperature .degrees {
  position: relative;
  top: -25px;
}

.Weather .characteristics {
  padding: 0;
  padding-top: 8px;
  text-align: left;
}

.Weather .characteristics ul {
  padding-left: 0;
}

.Weather .characteristics li {
  font-size: 12px;
  line-height: 16px;
  list-style: none;
  padding-left: 0;
}

.Weather .city h1 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 0;
  color: #202124;
}

.Weather .city li {
  line-height: 20px;
  list-style: none;
  font-size: 16px;
  font-weight: 400;
}
